
<ion-card *ngIf="convention._news.length">
  <ion-card-header>Latest News</ion-card-header>
  <ion-card-content>
    <div><strong>{{ convention._news[0].name }}</strong></div>
    <div [innerHTML]="convention._news[0].body_html"></div>
  </ion-card-content>
  <ion-row>
    <ion-col offset-10>
      <span color="muted"><ion-icon name="calendar"></ion-icon> Posted {{ convention._news[0].date_sent | date:'medium' }}</span>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="convention._news.length > 1">
    <ion-col no-padding>
      <button class="more-button" ion-button full outline text-left color="muted" (click)="forwardTo('News')">
        <ion-icon name="arrow-forward"></ion-icon>
        <span>&nbsp;More News</span>
      </button>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card *ngIf="!convention._news.length">
  <ion-card-content>No news has been posted for this event.</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>About This Event</ion-card-header>
  <ion-card-content>
    <div [innerHTML]="convention.description_html"></div>
  </ion-card-content>
</ion-card>

<ion-card>

  <ion-card-header>Event Venue</ion-card-header>

  <ion-item>
    <h2>{{ convention._venue.name }}</h2>
    <p>{{ convention._venue.formatted_address }}</p>
  </ion-item>

  <ion-card-content>
    <div>{{ convention.venue_notes }}</div>
    <ion-row *ngIf="convention._news.length > 1">
      <ion-col no-padding>
        <button class="more-button" ion-button full outline text-left color="muted" (click)="forwardTo('Venue')">
          <ion-icon name="arrow-forward"></ion-icon>
          <span>&nbsp;Venue Information</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>

</ion-card>

