<ion-header>
  <ion-navbar color="tte">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ event.name || 'Loading...' }}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card text-wrap>
    <ion-card-header class="wrap-header">{{ event.name }}</ion-card-header>
    <ion-card-content class="no-padding-left remove-extra-spacing">
      <ion-list no-lines>

        <ion-item *ngIf="(event.user && event.user.real_name) || event.room_name">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="person"></ion-icon></ion-col>
            <ion-col>Hosted <span *ngIf="event.user && event.user.real_name">by {{ event.user.real_name }}</span> <span *ngIf="event.room_name">@ {{ event.room_name }}</span></ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="event.type && event.type.name">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="game-controller-b"></ion-icon></ion-col>
            <ion-col>{{ event.type.name }}</ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="event.startdaypart_name">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="clock"></ion-icon></ion-col>
            <ion-col>{{ event.startdaypart_name }} <span *ngIf="event.duration">(Lasts {{ event.duration }} minutes)</span></ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="event.available_count">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="pricetag"></ion-icon></ion-col>
            <ion-col>{{ event.available_count }} tickets left</ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="event.age_range">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="analytics"></ion-icon></ion-col>
            <ion-col>Rated {{ event._options._age_range[event.age_range] }}</ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="event.description">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="information-circle"></ion-icon></ion-col>
            <ion-col>{{ event.description }}</ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-row *ngIf="(event.price && event.available_count > 0) || event.has_more_info">
      <ion-col no-padding *ngIf="event.price && event.available_count > 0">
        <a class="more-button" ion-button target="_system" href="https://tabletop.events{{event.view_uri}}" full outline text-left color="muted">
          <ion-icon name="cash"></ion-icon>
          <span>&nbsp;Buy Ticket (${{event.price}})</span>
        </a>
      </ion-col>
      <ion-col no-padding *ngIf="event.has_more_info">
        <a class="more-button" ion-button target="_system" href="{{event.more_info_uri}}" full outline text-left color="muted">
          <ion-icon name="globe"></ion-icon>
          <span>&nbsp;Website</span>
        </a>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card *ngIf="event.long_description_html">
    <ion-card-header>Description</ion-card-header>
    <ion-card-content>
      <div [innerHTML]="event._long_description_html"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
