#map {
  width: 100%;
  height: 60vh;
}

.more-button {
  border-bottom: none;

  .button-inner {
    justify-content: initial;
  }
}

ion-card[text-wrap] {
  ion-card-header {
    white-space: normal;
  }
}
