#map {
  width: 100%;
  height: 60vh;
}

.more-button {
  border-bottom: none;
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 48px;

  .button-inner {
    justify-content: initial;
  }
}

ion-card[text-wrap] {
  ion-card-header {
    white-space: normal;
  }
}

.button-outline-md-muted {
  border-color: #ddd;
}
