<ion-header>
  <ion-navbar color="tte">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ prototype.name || 'Loading...' }}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card text-wrap>
    <ion-card-header class="wrap-header">{{ prototype.name }}</ion-card-header>
    <ion-card-content class="no-padding-left remove-extra-spacing">
      <ion-list no-lines>

        <ion-item>
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="construct"></ion-icon></ion-col>
            <ion-col>Created by {{ prototype.user.real_name }}</ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="prototype.min_players && prototype.max_players">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="people"></ion-icon></ion-col>
            <ion-col>{{ prototype.min_players }}-{{ prototype.max_players }} players</ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="prototype.play_time">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="stopwatch"></ion-icon></ion-col>
            <ion-col>Takes approximately {{ prototype.play_time }} minutes</ion-col>
          </ion-row>
        </ion-item>

        <ion-item *ngIf="prototype.synopsis">
          <ion-row>
            <ion-col width-10><ion-icon color="muted" name="information-circle"></ion-icon></ion-col>
            <ion-col>{{ prototype.synopsis }}</ion-col>
          </ion-row>
        </ion-item>

      </ion-list>
    </ion-card-content>

    <ion-row>
      <ion-col no-padding *ngIf="prototype.has_more_info">
        <a class="more-button" ion-button target="_system" href="{{prototype.more_info}}" full outline text-left color="muted">
          <ion-icon name="arrow-forward"></ion-icon>
          <span>&nbsp;Website</span>
        </a>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card *ngIf="prototype._images.length">
    <ion-card-header>Pictures</ion-card-header>
    <ion-slides [options]="imageSliderOptions">
      <ion-slide *ngFor="let image of prototype._images">
        <img src="http:{{image.image_uri}}" />
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card *ngIf="prototype.description">
    <ion-card-header>Description</ion-card-header>
    <ion-card-content>
      <div [innerHTML]="prototype.description"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
